apiVersion: v1
kind: Service
metadata:
  name: service-school-management-fullstack-app-app
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  selector:
    app: school-management-fullstack-app-app
  type: LoadBalancer
